LinkCard {
    border: none;
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.95);
}

LinkCard:hover {
    background-color: rgba(39, 39, 39, 0.93);
}

#titleLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: white;
}

#authorLabel {
    color: white;
}

#contentLabel {
    font: 12px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: rgb(208, 208, 208);
}

LinkCardView {
    background-color: transparent;
    border: none;
}

#view {
    background-color: transparent;
}